@model IEnumerable<RestaurantSystem.Data.Data.CMS.HeroPartial>;

@if (Model is not null && Model.Any())
{
    <!-- Hero Start -->
    @foreach (var heroPartial in Model)
    {

        <div class="container-fluid bg-primary py-5 mb-5 hero-header" style="background: url(/lib/img/@heroPartial.PhotoName) top right no-repeat">
            <div class="container py-5">
                <div class="row justify-content-start">
                    <div class="col-lg-8 text-center text-lg-start">
                        <h1 class="font-secondary text-primary mb-4">@heroPartial.Title</h1>
                        <h1 class="display-1 text-uppercase text-white mb-4">@heroPartial.SubTitle</h1>
                        <h1 class="text-uppercase text-white">@heroPartial.Content</h1>
                        <div class="d-flex align-items-center justify-content-center justify-content-lg-start pt-5">
                            <a href="@heroPartial.HeroButtonUrl" class="btn btn-primary border-inner py-3 px-5 me-5">@heroPartial.HeroButtonName</a>
                            <button type="button" class="btn-play" data-bs-toggle="modal"
                            data-src="@heroPartial.VideoModalTitle" data-bs-target="#videoModal">
                                <span></span>
                            </button>
                            <h5 class="font-weight-normal text-white m-0 ms-4 d-none d-sm-block">@heroPartial.VideoTitle</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Video Modal Start -->
        <div class="modal fade" id="videoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content rounded-0">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Video</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- 16:9 aspect ratio -->
                        <div class="ratio ratio-16x9">
                            <iframe class="embed-responsive-item" src="" id="video" allowfullscreen allowscriptaccess="always"
                            allow="autoplay"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Video Modal End -->
    }
    <!-- Hero End -->
}
