@using RestaurantSystem.Data.Data.CMS
@using RestaurantSystem.Data.Helpers
@model RestaurantSystem.Data.Data.CMS.Page

@if (Model is not null && Model.Partials.Any())
{
    foreach (var partial in Model.Partials.Where(x => x.IsActive == true).OrderBy(x => x.Position))
    {
        switch (partial.PartialType)
        {
            case (PartialTypes.Hero):
                {
                    @await Html.PartialAsync("Hero", (IEnumerable<RestaurantSystem.Data.Data.CMS.HeroPartial>) partial.HeroPartials )
                    break;
                }
            case (PartialTypes.About):
                {
                    <div class="section-title position-relative text-center mx-auto mb-5 pb-3" style="max-width: 600px;">
                        <h2 class="text-primary font-secondary">@partial.Title</h2>
                        <h1 class="display-4 text-uppercase">@partial.SubTitle</h1>
                    </div>
                    @await Html.PartialAsync("AboutUs", (IEnumerable<RestaurantSystem.Data.Data.CMS.AboutPartial>) partial.AboutPartials )
                    break;
                }
            case (PartialTypes.Contact):
                {
                    <div class="container-fluid contact position-relative px-5" style="margin-top: 90px;">
                        <div class="container">
                            @await Html.PartialAsync("Contact", (IEnumerable<RestaurantSystem.Data.Data.CMS.ContactPartial>) partial.ContactPartials )
                        </div>
                    </div>
                    break;
                }
            case (PartialTypes.Service):
                {
                    <div class="container-fluid service position-relative px-5 mt-5" style="margin-bottom: 135px;">
                        <div class="container">
                            <div class="row g-5">
                                @await Html.PartialAsync("Service", (IEnumerable<RestaurantSystem.Data.Data.CMS.ServicePartial>) partial.ServicePartials)
                                <div class="col-lg-12 col-md-6 text-center">
                                    <h1 class="text-uppercase text-light mb-4">@partial.Title</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    break;
                }
            case (PartialTypes.CurrentEvent):
                {
                    <div class="container-fluid py-5">
                        <div class="container">
                            <div class="section-title position-relative text-center mx-auto mb-5 pb-3" style="max-width: 600px;">
                                <h2 class="text-primary font-secondary">@partial.Title</h2>
                                <h1 class="display-4 text-uppercase">@partial.SubTitle</h1>
                            </div>
                            <div class="row g-5">
                                @await Html.PartialAsync("CurrentEvents", (IEnumerable<RestaurantSystem.Data.Data.CMS.CurrentEventPartial>) partial.CurrentEventPartials )
                            </div>
                        </div>
                    </div>
                    break;
                }
            case (PartialTypes.CurrentMenu):
                {
                    <div class="container-fluid about py-5">
                        <div class="container">
                            <div class="section-title position-relative text-center mx-auto mb-5 pb-3" style="max-width: 600px;">
                                <h2 class="text-primary font-secondary">@partial.Title</h2>
                                <h1 class="display-4 text-uppercase">@partial.SubTitle</h1>
                            </div>
                            <div class="tab-class text-center">
                                @await Html.PartialAsync("CurrentMenu", (IEnumerable<RestaurantSystem.Data.Data.CMS.CurrentMenuPartial>) partial.CurrentMenuPartials)
                            </div>
                        </div>
                    </div>
                    break;
                }
        }
    }
}
