@model IEnumerable<RestaurantSystem.Data.Data.CMS.ContactPartial>

@{
    ViewData["Title"] = "Kontakty";
}

<h1>Kontakty dla komponentów</h1>

<p>
    <a asp-action="Create">Dodaj</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CompanyDataTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyDataContent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactDataTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactDataContent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneDataTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneDataContent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FormName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FormEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FormTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FormContent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FormButtonName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Partial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyDataTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyDataContent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactDataTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactDataContent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneDataTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneDataContent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FormName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FormEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FormTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FormContent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FormButtonName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Partial.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edytuj</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
