@model IEnumerable<RestaurantSystem.Data.Data.CMS.CurrentEventPartial>

@{
    ViewData["Title"] = "Wydarzenia";
}

<h1>Wydarzenia dodane do aplikacji</h1>

<p>
    <a asp-action="Create">Dodaj</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PhotoName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventInfo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FacebookLink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LinkedinLink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Partial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PhotoName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventInfo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FacebookLink)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LinkedinLink)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Partial.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edytuj</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
