@model RestaurantSystem.Data.Data.CMS.Company

@{
    ViewData["Title"] = "Podstawowe informacje";
}

<h1>Usuń</h1>

<h3>Czy na pewno chcesz usunąć?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WebsiteTitlePart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WebsiteTitlePart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TopbarRightTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TopbarRightTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TopBarRightInfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TopBarRightInfo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TopBarRightPhotoName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TopBarRightPhotoName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TopbarCenterTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TopbarCenterTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TopBarCenterPhotoName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TopBarCenterPhotoName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TopbarLeftTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TopbarLeftTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TopBarLeftInfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TopBarLeftInfo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TopBarLeftPhotoName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TopBarLeftPhotoName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FooterLeftBoxTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FooterLeftBoxTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FooterLeftBoxPhotoName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FooterLeftBoxPhotoName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FooterLeftBoxDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FooterLeftBoxDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FooterLeftInfoTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FooterLeftInfoTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FooterLeftInfoAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FooterLeftInfoAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FooterLeftInfoEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FooterLeftInfoEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FooterLeftInfoPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FooterLeftInfoPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FooterLeftInfoTwitterLink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FooterLeftInfoTwitterLink)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FooterLeftInfoFacebookLink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FooterLeftInfoFacebookLink)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FooterLeftInfoLinkedinLink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FooterLeftInfoLinkedinLink)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FooterCenterInfoTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FooterCenterInfoTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FooterRightInfoTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FooterRightInfoTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FooterRightInfoDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FooterRightInfoDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FooterRightInfoButtonName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FooterRightInfoButtonName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FooterRightInfoButtonUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FooterRightInfoButtonUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FooterBottom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FooterBottom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Usuń" class="btn btn-danger" /> |
        <a asp-action="Index">Wróć do listy</a>
    </form>
</div>
