@model IEnumerable<RestaurantSystem.Data.Data.CMS.Company>

@{
    ViewData["Title"] = "Podstawowe informacje";
}

<h1>Informacje</h1>
<h4>Dodając nowe pamiętaj tylko jedne informacje mogą być aktywne w danym momencie</h4>
<p>
    <a asp-action="Create">Dodaj</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WebsiteTitlePart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TopbarRightTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TopBarRightInfo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TopBarRightPhotoName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TopbarCenterTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TopBarCenterPhotoName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TopbarLeftTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TopBarLeftInfo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TopBarLeftPhotoName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FooterLeftBoxTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FooterLeftBoxPhotoName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FooterLeftBoxDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FooterLeftInfoTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FooterLeftInfoAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FooterLeftInfoEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FooterLeftInfoPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FooterLeftInfoTwitterLink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FooterLeftInfoFacebookLink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FooterLeftInfoLinkedinLink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FooterCenterInfoTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FooterRightInfoTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FooterRightInfoDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FooterRightInfoButtonName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FooterRightInfoButtonUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FooterBottom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WebsiteTitlePart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TopbarRightTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TopBarRightInfo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TopBarRightPhotoName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TopbarCenterTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TopBarCenterPhotoName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TopbarLeftTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TopBarLeftInfo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TopBarLeftPhotoName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FooterLeftBoxTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FooterLeftBoxPhotoName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FooterLeftBoxDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FooterLeftInfoTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FooterLeftInfoAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FooterLeftInfoEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FooterLeftInfoPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FooterLeftInfoTwitterLink)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FooterLeftInfoFacebookLink)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FooterLeftInfoLinkedinLink)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FooterCenterInfoTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FooterRightInfoTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FooterRightInfoDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FooterRightInfoButtonName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FooterRightInfoButtonUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FooterBottom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edytuj</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
