@model IEnumerable<RestaurantSystem.Data.Data.CMS.HeroPartial>

@{
    ViewData["Title"] = "Ze zdjęciem";
}

<h1>Komponenty ze zdjęciem i filmem</h1>

<p>
    <a asp-action="Create">Dodaj</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhotoName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HeroButtonName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HeroButtonUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VideoTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VideoModalTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Partial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhotoName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HeroButtonName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HeroButtonUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VideoTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VideoModalTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Partial.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edytuj</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
